* {
    main-br: #bec2ff;

    on-primary: #262b61;
    select-bg: #3d4279;
    select-fg: #e0e0ff;
    secondary: #c5c4dd;
    secondary-fixed: #e1e0f9;
    secondary-fixed-dim: #c5c4dd;
    on-secondary: #2e2f42;
    main-bg: #131318;
    main-fg: #e4e1e9;
}

